In [2]:
# 필요한 기능들
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from scipy import stats
import pandas as pd
import numpy as np
from matplotlib import rc

# 경고 메세지 무시
import os
import warnings
warnings.simplefilter(action='ignore', category = FutureWarning)

# 한글 안 깨지게 하기
if os.name == 'nt' :
    font_family = "Malgun Gothic"
else :
    font_family = "AppleGothic"

sns.set(font = font_family, rc = {"axes.unicode_minus" : False})


# csv 파일 가져오기
df = pd.read_csv('C:/Users/user/Desktop/머신러닝 학습소/1102contest/eunpyeong.csv', encoding='cp949')

In [12]:
from sklearn.datasets import load_iris
from sklearn.cluster import KMeans
from sklearn.mixture import GaussianMixture

df_new = df.drop(['시군구', '읍면동', '거주등록인구수', '공원면적', '1인당공원면적', '녹지개수', '녹지면적', 
                  '1인당녹지면적', '녹지공원총합', '녹지공원면적총합', '1인당녹지공원면적총합', '도시재생사업개수', '지하철역개수',
                  '기초수급자인구밀도 (인원 수 / 면적 (k㎡))', '저소득층가구비율', '미세먼지농도'], axis=1)

In [20]:
df_new.head()

   공원개수  버스정류장개수     토지공시지가평균    주간평균생활인구수  gmm_label
0     8       74  3511361.699  42426.64666          2
1     3       34  3049121.216  21918.81667          2
2     9       23  3399515.343  30002.96667          2
3     2       28  4467927.803  37022.56667          0
4    11       66  3459226.901  44399.43666          2

In [33]:
from sklearn.datasets import make_blobs
from sklearn.mixture import GaussianMixture
gmm = GaussianMixture(n_components = 3, random_state = 0)
gmm_label = gmm.fit_predict(df_new)
df_new["gmm_label"] = gmm_label

C:\Users\user\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1332: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

In [32]:


visualize_cluster_plot(gmm, df_new, 'gmm_label', iscenter=False)

NameError: name 'visualize_cluster_plot' is not defined

In [29]:
print('\n### Gaussian Mixture Clustering ###')
print(df_new.groupby('gmm_label')['gmm_label'].value_counts())

### Gaussian Mixture Clustering ###
gmm_label  gmm_label
0          0            2
1          1            1
2          2            8
Name: gmm_label, dtype: int64